.fight-container {
  margin-left: 10%;
  margin-right: 10%;
}

.classesGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 10;
}

.classesGroup  button{
  width: 25%;
}