.fight-container {
  margin-left: 10%;
  margin-right: 10%;
}

.classesGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 10;
}

.classesGroup  button{
  width: 25%;
}

.hidebtn {
	display: none !important;
}

.page-header {
	background-color: red;
}

.heroName {
	color: blue;
}

.enemyName {
	color: red;
}

.humanBtn {
	background-color: blue;
}

.elfBtn {
	background-color: green;
}

.warriorBtn {
	background-color: darkred;
}

.mageBtn {
	background-color: lightblue;
}

.archerBtn {
	background-color: BlanchedAlmond;
}

.wizardBtn {
	background-color: firebrick;
}

.output {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.output h1, h2, h3 {
	display: inline;
}

img {
	height: 200px;
	display: block;
	margin: auto;
}

.outputElEnemy {
	text-align: right;
}

.fightDiv {
	align-items: center;
	vertical-align: middle;
	flex-direction: column;
	justify-content: center;
}

.fightBtn {
	display: block;
	margin: 0 auto;
}

.heroAttack,
.enemyAttack {
	color: red;
}



