.fight-container {
  margin-left: 10%;
  margin-right: 10%;
}

.classesGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 10;
}

.classesGroup  button{
  width: 25%;
}

.hiddenbtn {
	display: none;
}

.page-header {
	background-color: red;
}

.heroName {
	color: blue;
}

.enemyName {
	color: red;
}

.humanBtn {
	background-color: blue;
}

.elfBtn {
	background-color: green;
}

.warriorBtn {
	background-color: darkred;
}

.mageBtn {
	background-color: lightblue;
}

.archerBtn {
	background-color: BlanchedAlmond;
}

.wizardBtn {
	background-color: firebrick;
}

.output h1, h2, h3 {
	display: inline;
}







